body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(74, 74, 153);
}

input {
    display: none;
}

label {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(240, 8, 120);
}

label:hover {
    transform: scale(1.1);
    color: rgb(30, 182, 142);
    transition: all 0.5s ease;
}

#display_image {
    width: 420px;
    height: 300px;
    box-shadow: 1px 1px 10px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (max-width: 492px) {
    h1 {
        font-size: 1.3rem;
    }

    #display_image {
        width: 90%;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 1.2rem;
    }
}